
{% extends 'base.html' %}

{% block title %}Update Students{% endblock title %}
{% block body %}

<div class="container">
    <div class="text-center p-3">
        <h2 class="alert alert-success">Update Students {{id}}</h2>
    </div>

<div class="col-md-5 offset-3">
    <h1 class="alert alert-info">Update Student Info</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-primary" value="Update">
        <a href="{% url 'home'%}" class="btn btn-warning">Back to Home</a>
    </form>

</div>


</div>

{% endblock body %}